* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../img/wall.png);
  height: 200px;
}

main {
  background-image: url(../img/cork.png);
  height: 200vh;
}

.container {
  max-width: 1200px;
  height: 0 auto;
}

.row {
  gap: 10px;
}

.bg-white {
  background-color: white;
}

.sardegna {
  width: 300px;
  height: 300px;
}

.pin {
  position: absolute;
}